
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<h1>Welcome here ,Your cart is empty....
    
    Happy Shopping......


    </h1>
<form method="post">
    <input type="number" name="id" value="id" />

    <input type="submit" name="ShopNow" value="Continue Shopping....." />
</form>

