
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post">
    <h2>REgiter</h2>
    <label>Enter Name:</label>
    <input type="text" name="name" value="" />
    <br />

    <label>Enter City:</label>
    <input type="text" name="city" value="" />
    <br />
    <label>Enter Email:</label>
    <input type="text" name="email" value="" />
    <br />


    <input type="submit" name="Register" value="Submit For Registration" />
</form>