
@{
    ViewBag.Title = "AddNumbers";
}

<h2>AddNumbers</h2>
<form  method="post">
    <label>Enter First Number:</label>
    <input type="number" name="firstno" value="" />

    <br/>
    <label>Etner Second No:</label>
    <input type="number" name="secondno" value="" />

    <br/>
    <input type="submit" name="Add" value="(Do Addition)Add Numbers" />
</form>

