
@{
    ViewBag.Title = "SubtractNumbers";
}

<h2>SubtractNumbers</h2>

<form  method="post">
    <label>Enter Number 1</label>
    <input type="number" name="fno" value="" />
    <br />
    <label>Enter Number 2</label>
    <input type="number" name="sno" value="" />

    <br/>
    <input type="submit" name="SubtractNumbers" value="Minus Nos" />
</form>